body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#container{
	width: 85%;
	margin: 0 auto;
	background: #fff;
	min-width: 720px;
}

#marca{
	height: 100px;
	background: #9e9e9e;
	text-align: center;
	line-height: 100px;
}

#conteudo{
	width: 75%;
	float: right;
}

#conteudoPrincipal{
	width: 63%;
	float: left;
}

#conteudoSecundario{
	width: 33%;
	float: right;
	background: #d1d1d1;
}

#conteudoSecundario h1,
#conteudoSecundario h2,
#conteudoSecundario h3,
#conteudoSecundario p{
	padding-left: 20px;
	padding-right: 20px;
}


#navegacao{
	width: 23%;
	float: left;
	padding-top: 20px
	padding-bottom: 20px;
	background: #d1d1d1;
}

#navegacao ul{
	list-style-type: none;
}

#navegacao li a{
	text-decoration: none;
}

#rodape{
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}

ul a{
	
	width: 100px;
	height: 40px;
	display: block;
	background:#f7b600;
	color:#FFF;
	text-align:center;
	line-height:40px;
}

a:hover{
	background-color: #f99200;
	color: black;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#noticias #navegacao .noticias a,
#produtos #navegacao .produtos a,
#servicos #navegacao .servicos a,
#clientes #navegacao .clientes a,
#contato #navegacao .contato a{
	background-color: #f99200;
	color: black;
}