body{
	font-family: "Trebuche MS", Helvetica, sans-serif;
}

fieldset{
	margin: 1em 0;
	padding: 1em;
	border:1px solid #CCC;
	background: #f8f8f8;
}

legend{
	font-weight: bold;
}

label{
	display: block;
	cursor: pointer;
}

input{
	width: 20em;
	
}

input.radio, input.checkbox, input.submit{
	width: auto;
}

textarea{
	width: 20em;
	height: 10em;
}

.radio{
	margin: 1em;
}
